body {
    font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
}
.all-container{
    height: 100%;
    width: 100%;
    min-width: 500px;
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
p#enter {
    font-size: 80%;
    line-height: 10%;
    vertical-align: top;
}

#hiddenDiv {
    border: medium solid #F6F6F6;
    min-height: 60px;
    margin: auto;
    text-align: center;
    padding: 2%;
    overflow: auto;
}
.container {
    height: 100%;
    width: 100%;
    min-width: 500px;
    display: flex;
}
.small-container{
    height: 100%;
    width: 85%;
    min-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#inset {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}
.sidebar {
    background-color: #543a52;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 150px;
    overflow-y: scroll;
}
.title {
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    flex: .25;
    color: #fff;
    background-color: rgba(0, 0, 0, .5)
}
h4 {
    margin-top: 2px;
    margin-bottom: 2px;

}
.channels {
    text-align: center;
    color: #92658e;
    flex: 2;
}
.users {
    text-align: center;
    color: #92658e;
    flex: 3;
}

.bottom {
    margin: 10 20 5 20px;
    height: 5%;
    width: 80%;
    min-width: 500px;
}
#inputMsg {
    width: 100%;
    height: 100%;
    padding-left:20px;
    border: medium solid #F6F6F6;
}
#inputOne {
    height: 5%;
    width: 45%;
margin: auto;
    text-align: center;
}
#inputTwo {
    height: 5%;
    width: 45%;


/*margin: auto;*/

text-align: center;
}
#chat {
    list-style: none;
    vertical-align: bottom;
}
.chatter {
    display: block;
    width: 98%;
    /*background-color: #4f0;*/

margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
}
#name {
    text-align: left;
    padding: 2%;
    font-size: 100%;
    font-weight: bold;
}
#time {
    text-align: right;
    font-size: 80%;
    color: gray;
}
#message {
    padding-top: 5px;
    margin-left: 20px;

}
#alert {
    padding-top: 1%;
    margin-left: 5%;
    font-style: italic;
    color: gray;
}