doctype html
html
  head
    title= slacker
    meta(charset='UTF-8', author='David Daniel')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/moment.js')
  body
    block content